<p style="color: green"><%= notice %></p>

<% content_for :title, "Auths" %>

<h1>Auths</h1>

<div id="auths">
  <% @auths.each do |auth| %>
    <%= render auth %>
    <p>
      <%= link_to "Show this auth", auth %>
    </p>
  <% end %>
</div>

<%= link_to "New auth", new_auth_path %>
